
/*this is how you write a css comment*/
/*note to self: wrap text windows: alt + z*/
/*note: always add ; after each value*/




/* ROOT 
- I added root as it sets a default px size that will apply to the entire site and rem units */

:root {
    font-size:16px;
}



/*CATLAS LOGO
- I learned that this was a shortcut to position an element like my logo top center*/
.logo {
    height: 6rem;
    display: block;
    margin: 0 auto 1.25rem;
}


/*POSITIONING NOTE TO SELF: Microsoft live preview is not an accurate representation of a real browser window, 
use Live Server for accuracy, use shortcut ctrl+0 for 100% default zoom.

TROUBLESHOOTING POSITIONING: I relied on the live preview window on VS Code to see the changes being
made and I used it as a guide with manual positioning and creating flexbox layouts. 
When I opened my browser through live server, everything is zoomed in - even at 100% and the elements
are too large and off center. I will fix this by adjusting sizes and positioning of some elements and use live server as a guide 
to review my changes

note: resize elements to smaller: logo, images, etc*/


/*WELCOME SECTION: Using manual positioning for overlapping items*/

.welcome-box{
    width:100%;
    max-width:60rem;
    margin: 0 auto 2.5rem;
    position: relative;
}

.welcome-title{
    margin: 0 auto;
    background-color:#292647;
    display:inline-block;
    padding: 0.8rem 1.8rem;
    border-radius:1.8rem;
    text-align: center;
    position:relative;
    z-index:2;
    margin-bottom:-1.8rem;
}

.welcome-description {
position:relative;
background-color:#d9daff;
padding: 2rem 2rem;
border-radius:2rem;
width: 100%;
max-width: 60rem;
margin: 0 auto;
margin-top: 1.2rem;
display: block;
text-align: center;
line-height: 1.5rem;
}


/*Here, I changed the background color and added some margins that applies to the entire website*/
/*troubleshooting layout issues for the homepage browser- reduced body padding to fix layout*/
body {
    background-color: #f9f9ff;
    max-width: 1200px;
    padding: 2rem;
    
cursor: url('/cursor/paw-cursor.cur'), auto;
}


/*CAT PNGS*/

/*Cat Png Positioning*/
.top-area-cats{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -6rem;
}

.blackcat-stretch{
    margin-top: -2.5rem;
}

/*Cat Png Sizing*/
.blackcat-loaf,
.blackcat-stretch {
    width: 8rem;
}


/*FONT-STYLES*/
/*This is how you change a font in css
FONT SIZES & RESPONSIVENESS NOTE: For responsiveness, use rem instead of px for font sizes, 
for large headings and smaller screens use pw*/

h1 {
    font-family:"Righteous";
    font-size: 2rem;
    font-weight:400;
    color:d9daff;
}
h2{
    font-family: "Righteous";
    font-size:1.4rem;
    font-weight:400;
    color:d9daff;
}
h3{
    font-family:"Righteous";
    font-size: 1.2rem;
    font-weight:400;
    color:#292647;
}
p{
    font-family:"oxygen";
    font-size: 1rem;
    font-weight:700; 
    color:#292647;
}

/*MENU BUTTONS STYLING SECTION*/
/*note to self: add a different pointer cursor*/

.page-buttons {
    background-color: #292647;
    color:#d9daff;
    border:none;
    cursor:pointer;
    display:inline-block;
    box-sizing:border-box;
    padding:0.5rem 1.9rem;
    border-radius: 1.25rem;
    margin-top: 3rem;
    width: 15rem;
    text-decoration:none;
}
.timeline-description,.faq-description, .map-description {
    margin-top:0.8rem;
}

/*BUTTONS HOVER ANIMATION*/
/*menu scale animations on hover*/
.timeline-box,
.map-box,
.faq-box,
.contact-box{
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.timeline-box:hover, 
.map-box:hover,
.faq-box:hover,
.contact-box:hover{
    transform:scale(1.1,1.1);
}
/*button glow animation*/
.page-buttons:hover,
.contact-button:hover{
    box-shadow: 0 0 40px rgba(66, 14, 255, 0.6);
}



/*CONTACT BUTTON STYLING SECTION*/
.contact-button {
    background-color:#d9daff;
    color:#292647;
    font-family:"Righteous";
    font-size:1.4rem;
    font-weight:900;
    border:none;
    cursor:pointer;
    padding:0.5rem 1.9rem;
    border-radius:1.25rem;
    width:15rem;
}

.contact-box {
margin-top: 3rem;
display:flex;
flex-direction:column;
align-items:center;
place-items:center;
text-align:center;
}

.contact-description{
    margin-top:1rem
}

/*HOMEPAGE MENU LAYOUT SECTION*/
.homepage-menu {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-top: 4.3rem;
    gap:3.75rem;
}

/*Fixing flexbox alignment to apply evenly to all images that are different sizes*/
/*note to self: the map icon was poorly aligned on the page because it was poorly cropped before uploading the image source, that is why flexbox did not work as well*/
/*the height adjustment on images fixed the issue to line the menu buttons up, and the object-fit contain prevents the images from stretching weirdly*/

.homepage-menu img {
    width:20rem;
    height:10rem;
    display:block;
    margin:0 auto;
    object-fit:contain;
}


/*making each box act as a column*/
.homepage-menu > div{
display:flex;
flex-direction: column;
align-items:center;
text-align:center;
}


/*RESPONSIVENESS
Notes:
- Use relative Units such as rem and em for larger elements 
- Pixels and absolute positioning do not adapt to different screen sizes 
- I should use flexbox and percentages for layout
- Use rem for fonts
- avoid absolute positioning as much as possible*/
