
/*this is how you write a css comment*/
/*note to self: wrap text windows: alt + z*/
/*note: always add ; after each value*/

/*I learned that this was a shortcut to position an element like my logo top center*/
.logo {
    height: 110px;
    display: block;
    margin: 0 auto;
}

/*Here, I changed the background color and added some margins that applies to the entire website*/
body {
    background-color: #f9f9ff;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*FONT-STYLES*/
/*This is how you change a font in css*/
h1 {
    font-family:"Righteous";
    font-size: 35px;
    color:292647;
}
h2{
    font-family: "Righteous";
    font-size: 28px;
    color:292647;
}
h3{
    font-family:"Righteous";
    font-size: 20px;
    font-weight:400;
    color:#292647;
}
p{
    font-family:"oxygen";
    font-size: 18px;
    font-weight:400; 
    color:#292647;
    
}

/*MENU BUTTONS STYLING SECTION*/
.page-button {
    background-color: #292647;
    color:#d9daff;
    font-family: "Righteous";
    font-size:24px;
    border:none;
    cursor:pointer;
    padding:8px 50px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 280px
}

/*CONTACT BUTTON STYLING SECTION*/
.contact-button {
    background-color:#d9daff;
    color:#292647;
    font-family:"Righteous";
    font-size:24px;
    font-weight:900;
    border:none;
    cursor:pointer;
    padding:8px 24px;
    border-radius:20px;
    width:280px
}

.contact-box {
margin-top: 80px;
display:flex;
flex-direction:column;
align-items:center;
place-items:center;
text-align:center;

}

/*HOMEPAGE MENU LAYOUT SECTION*/
.homepage-menu {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-top: 40px;
    gap:60px;
}

/*Fixing flexbox alignment to apply evenly to all images that are different sizes*/
/*note to self: the map icon was poorly aligned on the page because it was poorly cropped before uploading the image source, that is why flexbox did not work as well*/
/*the height adjustment on images fixed the issue to line the menu buttons up, and the object-fit contain prevents the images from stretching weirdly*/

.homepage-menu img {
    width:340px;
    height: 200;
    display:block;
    margin:0 auto 12px;
    object-fit:contain;
}


/*making each box act as a column*/
.homepage-menu > div{
display:flex;
flex-direction: column;
align-items:center;
text-align:center;


}