
/*this is how you write a css comment*/
/*note to self: wrap text windows: alt + z*/
/*note: always add ; after each value*/

/*I learned that this was a shortcut to position an element like my logo top center*/
.logo {
    height: 90px;
    display: block;
    margin: 0 auto;
}

/*Here, I changed the background color and added some margins that applies to the entire website*/
body {
    background-color: #fff3ee;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

}

/*This is how you change a font in css*/
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {

}

p {

}