
/*this is how you write a css comment*/
/*note to self: wrap text windows: alt + z*/
/*note: always add ; after each value*/




/* ROOT 
- I added root as it sets a default font size that will apply to the entire site and rem units */

:root {
    font-size:16px;
}



/*CATLAS LOGO
- I learned that this was a shortcut to position an element like my logo top center*/
.logo {
    height: 160px;
    display: block;
    margin: 0 auto;
    margin-top:20px;
    z-index:3;

}


/*POSITIONING NOTE TO SELF: Microsoft live preview is not an accurate representation of a real browser window, 
use Live Server for accuracy, use shortcut ctrl+0 for 100% default zoom.

TROUBLESHOOTING POSITIONING: I relied on the live preview window on VS Code to see the changes being
made and I used it as a guide with manual positioning and creating flexbox layouts. 
When I opened my browser through live server, everything is zoomed in - even at 100% and the elements
are too large and off center. I will fix this by adjusting sizes and positioning of some elements and use live server as a guide 
to review my changes

note: resize elements to smaller: logo, images, etc*/


/*WELCOME SECTION: Using manual positioning for overlapping items*/

.welcome-box{
    width:80%;
    max-width:1100px;
    margin: 40px auto;
    margin-top:-5px;
    position: relative;
}

.welcome-title{
    margin: px auto;
    background-color:#292647;
    display:inline-block;
    padding: 8px 50px;
    border-radius:25px;
    width: 165px;
    text-align: center;
    position:relative;
    z-index:2;
    margin-bottom:-55px;
    font-size:38px
}

.welcome-description {
position:relative;
background-color:#d9daff;
padding: 25px 50px;
border-radius:35px;
height:80px;
width: 1200px;
margin-top:40px;
align-items:center;
margin-left:auto;
margin-right:auto;
}


/*Here, I changed the background color and added some margins that applies to the entire website*/
/*troubleshooting layout issues for the homepage browser*/
body {
    background-color: #f9f9ff;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 40px 60px;

cursor: url('/cursor/paw-cursor.cur'), auto;
}


/*CAT PNGS*/

/*Cat Png Sizing*/
.blackcat-loaf{
    width:200px;
    position:absolute;
    top:80px;
    left:100px;
}

.blackcat-stretch{
    width:200px;
    position:absolute;
    top:60px;
    right:100px;
}





/*FONT-STYLES*/
/*This is how you change a font in css
FONT SIZES & RESPONSIVENESS NOTE: For responsiveness, use rem instead of px for font sizes, 
for large headings and smaller screens use pw*/

h1 {
    font-family:"Righteous";
    font-size: 28px;
    font-weight:400;
    color:d9daff;
}
h2{
    font-family: "Righteous";
    font-size:30px;
    font-weight:400;
    color:292647;
}
h3{
    font-family:"Righteous";
    font-size: 22px;
    font-weight:400;
    color:#292647;
}
p{
    font-family:"oxygen";
    font-size: 18px;
    font-weight:700; 
    color:#292647;
    
}

/*MENU BUTTONS STYLING SECTION*/
/*note to self: add a different pointer cursor*/
.page-button {
    background-color: #292647;
    color:#d9daff;
    font-family: "Righteous";
    font-size:28px;
    border:none;
    cursor:pointer;

    display:inline-block;
    box-sizing:border-box;
    padding:8px 50px;
    border-radius: 20px;
    margin-top: 22px;
    margin-bottom:0px;
    width: 300px;
    text-decoration:none;
}
.timeline-description,.faq-description, .map-description {
    margin-top:15px
}

/*BUTTONS HOVER ANIMATION*/
/*menu scale animations on hover*/
.timeline-box,
.map-box,
.faq-box,
.contact-box{
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.timeline-box:hover, 
.map-box:hover,
.faq-box:hover,
.contact-box:hover{
    transform:scale(1.1,1.1);
}
/*button glow animation*/
.page-button:hover,
.contact-button:hover{
    box-shadow: 0 0 40px rgba(66, 14, 255, 0.6);
}



/*CONTACT BUTTON STYLING SECTION*/
.contact-button {
    background-color:#d9daff;
    color:#292647;
    font-family:"Righteous";
    font-size:24px;
    font-weight:900;
    border:none;
    cursor:pointer;
    padding:8px 24px;
    border-radius:20px;
    width:280px
}

.contact-box {
margin-top: 80px;
display:flex;
flex-direction:column;
align-items:center;
place-items:center;
text-align:center;
}

.contact-description{
    margin-top:15px;
}

/*HOMEPAGE MENU LAYOUT SECTION*/
.homepage-menu {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-top: 70px;
    gap:60px;
}

/*Fixing flexbox alignment to apply evenly to all images that are different sizes*/
/*note to self: the map icon was poorly aligned on the page because it was poorly cropped before uploading the image source, that is why flexbox did not work as well*/
/*the height adjustment on images fixed the issue to line the menu buttons up, and the object-fit contain prevents the images from stretching weirdly*/

.homepage-menu img {
    width:400px;
    height: 200px;
    display:block;
    margin:0 auto 12px;
    object-fit:contain;
}


/*making each box act as a column*/
.homepage-menu > div{
display:flex;
flex-direction: column;
align-items:center;
text-align:center;
}


/*RESPONSIVENESS
Notes:
- Use relative Units such as rem and em for larger elements 
- Pixels and absolute positioning do not adapt to different screen sizes 
- I should use flexbox and percentages for layout
- Use rem for fonts
- avoid absolute positioning as much as possible*/
