
/*this is how you write a css comment*/
/*note to self: wrap text windows: alt + z*/
/*note: always add ; after each value*/

/* ROOT 
- I added root as it sets a default px size that will apply to the entire site and rem units */

:root {
    font-size:16px;
}

/* '*'= universal selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Here, I changed the background color and added some margins that applies to the entire website*/
/*troubleshooting layout issues for the homepage browser- reduced body padding to fix layout*/
/*the page-wrapper applies to all elements inside my homepage*/

/*NOTE TO SELF: The Rules on 'body' apply to the entire website and there are no '.' before body for styling*/

body {
    background-color: #f9f9ff;
    cursor: url('/cursor/paw-cursor.cur'), auto;
}


/*NAVIGATION BAR***************************************/
/*I followed these tutorials 
https://www.youtube.com/watch?v=PwWHL3RyQgk&t=249s and https://www.youtube.com/watch?v=U8smiWQ8Seg
Position:sticky; makes the element stuck on the same position in the screen despite scrolling*/

.navbar {
    box-sizing:border-box;
    margin: 0;
    padding: 0.3rem 3.5rem;
    Background-color:#d9daff;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    position:sticky;
    z-index:999;
    top:0;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
/*Note to self: If time- make the nav bar animate up and hide when scrolling with javascript later*/
/*I changed the logo class here and uploaded a different logo image because the original logo was overriding the homepage logo styling rules*/

.logo-navbar {
    height: 2.6rem;
    width:auto;
    cursor: url("/cursor/bent-paw-cursor.cur"), pointer;
}

.nav-links{
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
    gap:2rem;
}

.nav-link {
    display:block;
    padding: 0.5rem 1.5rem; 
    font-family:"Righteous";
    font-weight: 400;
    font-size:1.2rem;
    color:#292647;
    text-decoration: none;
    transition: 0.3s ease;
    cursor: url("/cursor/bent-paw-cursor.cur"), pointer;
}

.nav-link:hover {
color:#5245e5
}

.nav-toggle{
  display:none;
}


/*RESPONSIVE NAV BAR TABLET*/
@media (max-width: 1024px) and (min-width: 768px){

  .nav-toggle{
    display: none; 
  }

  .nav-links{
    display: flex;
    position: static; 
    width: auto;
    background: transparent;
    box-shadow: none;
    padding: 0;
    flex-direction: row; 
    gap: 1.2rem;        
  }

  .nav-link{
    font-size: 1.05rem;  
    padding: 0.4rem 0.6rem;
  }
}

/*RESPONSIVE NAV BAR MOBILE*/
/*Tutorial:https://www.youtube.com/watch?v=Ovl3IxTwS18&t=1s
Hamburger character: https://www.piliapp.com/symbol/menu*/
@media (max-width: 769px){

.navbar{
  padding:0.25rem 2.5rem;
  justify-content:space-between;
  position:sticky;
}

.nav-links{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  width: 100%;
  padding: 1.2rem 0 1.5rem;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  width: 100%;
  margin:0;
  background-color:#f9f9ff;
  list-style: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index:0;
  border-bottom:3px solid #d9daff
}

.nav-link{
font-size:1.5rem;
text-decoration: underline;
}

.nav-toggle {
  margin-left:auto;
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;   
    cursor:  url("/cursor/bent-paw-cursor.cur"), pointer;
    color: #292647;   
  }

.nav-links.show{
  display:flex;

}

.logo-navbar {
    height: 3rem;
    width:auto;
}

}


/*PAGE FOOTER*******************************************/
.site-footer{
    background-color:#1f1e2c;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 0.5rem 3.5rem;
    min-height:8rem;
    text-align:center;
    gap:1.5rem;
} 
.back-to-top{
    color:#d9daff;
    font-family:"Righteous";
    font-size:1rem;
    border:none;
    cursor: url("/cursor/bent-paw-cursor.cur") ,pointer;
    padding:0.5rem 1.9rem;
    border-radius:1.25rem;
    text-decoration:underline;
    transition: 0.3s ease;
}

.back-to-top:hover {
color:#9396ff
}
html {
  scroll-behavior: smooth;
}


/*HOMEPAGE*******************************************************************************************
****************************************************************************************************************/
/*HOMPAGE CATLAS LOGO**********************************/
/* I learned that this was a shortcut to position an element like my logo top center*/
/*POSITIONING NOTE TO SELF: Microsoft live preview is not an accurate representation of a real browser window, 
use Live Server for accuracy, use shortcut ctrl+0 for 100% default zoom.

TROUBLESHOOTING POSITIONING: I relied on the live preview window on VS Code to see the changes being
made and I used it as a guide with manual positioning and creating flexbox layouts. 
When I opened my browser through live server, everything is zoomed in - even at 100% and the elements
are too large and off center. I will fix this by adjusting sizes and positioning of some elements and use live server as a guide 
to review my changes*/

.logo {
    height: 7rem;
    display: block;
    margin: 0 auto;
    margin-top:-2rem;
}

/*HOMPAGE PAGE WRAPPER*********************************/
.page-wrapper {
    padding: 2rem 2rem 7rem;
    max-width: 1440px;
    margin: 0 auto;
    margin-top:0.5rem;
}


/*HOME PAGE WELCOME SECTION*****************************/
/*Using manual positioning for overlapping items*/

.welcome-box{
    width:100%;
    max-width:60rem;
    margin: 0 auto 2.5rem;
    position: relative;
    margin-top:-2.5rem;
}

.welcome-title{
    margin: 0 auto;
    background-color:#292647;
    display:inline-block;
    padding: 0.5rem 1.2rem;
    border-radius:1.8rem;
    text-align: center;
    position:relative;
    z-index:1;
    margin-bottom:-1.8rem;
}

.welcome-description {
position:relative;
background-color:#dbdcff;
padding: 1rem 1rem;
border-radius:2rem;
width: 100%;
max-width: 60rem;
margin: 0 auto;
margin-top: 1.2rem;
display: block;
text-align: center;
line-height: 1.5rem;
}


/*HOME PAGE CAT PNGS*************************************/
/*Cat Png Positioning, Use margin-top or margin-bottom to move things around*/
.top-area-cats{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -4.5rem;
    padding: 0rem 4rem;
}

.blackcat-stretch{
    margin-top: -1rem;
}

/*Cat Png Sizing*/
.blackcat-loaf,
.blackcat-stretch {
    width: 6rem;
}


/*FONT-STYLES*********************************************/
/*This is how you change a font in css
FONT SIZES & RESPONSIVENESS NOTE: For responsiveness, use rem instead of px for font sizes, 
for large headings and smaller screens use pw*/
/*APPLIES TO ENTIRE SITE*/
h1 {
    font-family:"Righteous";
    font-size: 2rem;
    font-weight:400;
    color:#292647;
}
h2{
    font-family: "Righteous";
    font-size:1.4rem;
    font-weight:400;
    color:d9daff;
}
h3{
    font-family:"Righteous";
    font-size: 1rem;
    font-weight:400;
    color:#292647;
}

h4{
    font-family: "Righteous";
    font-size:1rem;
    font-weight:400;
    color:d9daff;
}

h5{ 
    font-family: "Righteous";
    font-size:0.75rem;
    font-weight:400;
    color:d9daff;
}

h6 {
    font-family: "Righteous";
    font-size:1.4rem;
    font-weight:400;
    color: #292647;
}

p{
    font-family:"oxygen";
    font-size: 0.9rem;
    font-weight:700; 
    color:#292647;
}


/*MENU BUTTONS STYLING SECTION****************************/
/*note to self: add a different pointer cursor*/

.page-buttons {
    background-color: #292647;
    color:#d9daff;
    border:none;
    cursor:url("/cursor/bent-paw-cursor.cur"), pointer;
    display:inline-flex;
    justify-content: center;
    box-sizing:border-box;
    padding:0.5rem 1.2rem;
    border-radius: 1.25rem;
    margin-top: 1rem;
    width: min(90vw, 15rem);
    max-width:15rem;
    text-decoration:none;
}

.timeline-description,.faq-description, .map-description {
    margin-top:0.7rem;
}


/*HOME MENU & MISC. BUTTONS HOVER ANIMATION***************/
/*menu scale animations on hoveR*/
.timeline-box,
.map-box,
.faq-box,
.page-buttons,
.about-button{
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.timeline-box:hover, 
.map-box:hover,
.faq-box:hover,
.about-button:hover{
    transform:scale(1.1,1.1);
}
/*button glow animation*/
.page-buttons:hover,
.about-button:hover{
    box-shadow: 0 0 40px rgba(66, 14, 255, 0.6);
}

/*HOMEPAGE MENU LAYOUT SECTION**************************/
.homepage-menu {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    gap:3rem;
    margin-top: 2rem;
}

/*Fixing flexbox alignment to apply evenly to all images that are different sizes*/
/*note to self: the map icon was poorly aligned on the page because 
it was poorly cropped before uploading the image source, that is why 
flexbox did not work as well. 

he height adjustment on images fixed the issue to line the menu buttons up, 
and the object-fit contain prevents the images from stretching weirdly*/

.homepage-menu img {
    width:min(70vw, 20rem);
    height:auto;
    display:block;
    margin:0 auto;
    object-fit:contain;
}

.homepage-menu img.map-icon{
  width: 20rem;    
  margin-top: -0.58rem; 
  object-fit: contain;
  display: block;
}


/*making each box act as a column*/
.homepage-menu > div{
display:flex;
flex-direction: column;
align-items:center;
text-align:center;
}


/*RESPONSIVE HOMEPAGE TABLET & MOBILE*/
@media (max-width: 1024px) {
  .page-wrapper {
    padding: 1.5rem 1.5rem 4rem;
  }

  .homepage-menu {
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    gap: 4rem;
    margin-top: 2rem;
  }

  .homepage-menu > div {
    width: 100%;
    max-width: 34rem;
  }

  .top-area-cats {
    margin-top: 0;
    padding: 0 1rem;
  }

  .logo {
    height: 6rem;
    margin-top: -1rem;
    margin-bottom:-3rem;
  }
}


/*ABOUT PAGE *******************************************************************************************
****************************************************************************************************************/
/*ABOUT BUTTON STYLING SECTION**************************/
.about-button {
    background-color:#d9daff;
    color:#292647;
    font-family:"Righteous";
    font-size:1rem;
    font-weight:900;
    border:none;
    cursor: url("/cursor/bent-paw-cursor.cur") ,pointer;
    padding:0.5rem 1.9rem;
    border-radius:1.25rem;
    width:8.5rem;
    text-decoration:none;
}

.about-box {
margin-top: 4rem;
display:flex;
flex-direction:column;
align-items:center;
place-items:center;
text-align:center;
}


/*ABOUT.HTML PAGE STYLING*******************************/
.about-section {
    padding: 4rem 4rem 8rem;
    display: flex;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    margin-top:1.5rem;
}

.about-group {
    max-width:60rem;
    width:100%;
    margin:0 auto;
    display:flex;
    gap: 5rem;
    align-items: center;
}

.my-cat-images {
  position: relative;
  width: 18rem;
  height: 24rem;
  border-radius: 2rem;
  overflow: hidden;
  flex-shrink: 0;
}

.mycat-1,
.mycat-2 {
    position: absolute;
    top:0;
    left:0;
    object-fit:cover;
    width: 18rem;
    height: 24rem;
    border-radius:2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-size: cover;
    background-position: center;
    background-image: url("/images/my_cat_2.jpg");
}

/*I made the cat images change on hover following this tutorial
https://www.youtube.com/watch?v=NHb3o3sP9iA&t=395s*/

.my-cat-images:hover 
.mycat-1{
    opacity:1;
    cursor:url("/cursor/bent-paw-cursor.cur"), pointer;
}

.my-cat-images:hover
.mycat-2{
    opacity:0;
    cursor:url("/cursor/bent-paw-cursor.cur"), pointer;
}

.about-text-box{
  flex: 1;
  line-height: 1.7;
  padding-top: 1rem;
  margin-top:-3rem;
}

.about-text-box h1{
 margin-bottom: 0.5rem;
}

.about-text-box p{
 margin-bottom: 0.5rem;
}


/*RESPONSIVE ABOUT PAGE TABLET*/
@media (max-width: 1024px) {

   .about-section {
    padding-top: 3rem;
    margin-top: 0;  
  }
  .about-group {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .my-cat-images {
    width: 14rem;      
    height: 18rem;
    margin: 0 auto;
  }

  .mycat-1,
  .mycat-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
  }

  .about-text-box {
    text-align: center;
    max-width: 38rem;
    margin-top: 0;
  }
}


/*TIMELINE PAGE **************************************************************************************
****************************************************************************************************************/

.timeline-wrapper{
    padding-top: 2.5rem;
}


/*page title*/
.paws-of-time h1 {
  text-align: center;
  font-family: "Righteous";
  font-size: 2.5rem;
  color: #292647; 
}


/*Era buttons positioning*/
.era-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  flex-wrap: wrap;
}

/*Era buttons styling*/
.era-button {
  padding: 0.6rem 1.6rem;
  border: 2px solid #292647; 
  background: transparent;
  color: #292647;
  border-radius: 2rem; 
  font-family: "Righteous";
  font-size: 1rem;
  cursor:url("/cursor/bent-paw-cursor.cur"), pointer;
  transition: all 0.25s ease;
}

/*Era buttons hover effect color fill */
.era-button:hover {
  background: #292647;
  color: #fff;
  transform: scale(1.15);
}

.era-button--active {
  background: #292647;
  color: #fff;
  border-color: #292647;
}


/*Decorative line */
/*This will visually split the title with the slideshow */
.decorative-line {
  width:85%;
  max-width: 1440px;
  height: 2px;
  background-color: #302e49;
  border-radius:1rem;
  margin: 1rem auto 2rem auto; 
}


.era-content {
  max-width: 70rem;   
  margin: 0 auto;
  padding: 0.5rem 4rem 20rem;
  box-sizing: border-box;
}

.era-content > div {
  display: none; 
}

.era-content > .era-content--active {
  display: flex;        
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
}

/*fixed box for every era image*/
.era-image {
  flex: 0 0 24rem;
  display:block;

}

/*the image inside the box*/
.era-image img {
  height:100%;
  width:100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}
/*setting a custom size for origins image because its much larger than the rest of the images */
.origins-image img{
  flex: 0 0 20rem;
  height: 18rem;

}

.era-text {
  flex: 1;
  line-height: 1.7;
  max-width:35rem;
}

/* Small title like "Origins ~7500 BCE" */
.era-text h6 {
  margin-bottom: 0.75rem;
}


/*RESPONSIVE TIMELINE PAGE MOBILE & TABLET*/
@media (max-width: 768px){
  
  .era-content {
    padding: 0.5rem 1rem 4rem;
  }

  /* STACK: image on top, text underneath */
  .era-content > .era-content--active {
    flex-direction: column;
    align-items: center;     /* centers the column */
    justify-content: center;
    text-align: center;      /* centers the text */
    gap: 1.25rem;
  }

  .era-image,
  .era-text {
    width: 100%;
    max-width: 30rem;
  }
  .era-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

  }
}

@media (max-width: 1024px) {
  .era-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .era-button {
    flex: 0 0 33.333%;
    text-align: center;
  }
}




/*FAQ PAGE**************************************************************************************
****************************************************************************************************************/
.faq-page-wrapper {
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 10rem;
  text-align: center;
}

.faq-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding
}

.faq-intro {
  max-width: 40rem;
  margin: 0 auto;
  padding-top:0.5rem;
  font-size: 1.2rem;
}

.faq-gif img {
  max-width: 20rem;
  width: 100%;
  display: block;
  margin: 0 auto 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.faq-item {
  width: 100%;
  max-width: 32rem;
  background-color: #d9daff;      
  color:  #292647;
  border-radius: 2rem;             
  padding: 1rem 3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*removing the weird triangles*/
.faq-item summary {
  list-style: none;
  cursor: url("/cursor/bent-paw-cursor.cur"), pointer;
  font-weight: 400;
  font-size: 1.3rem;
  font-family:righteous;
  align-items: center;
 transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.faq-item summary:hover{
  transform:scale(1.1,1.1);
}

.faq-item p {
  padding-top: 0.1rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
}
.faq-conclusion h6{
padding-top: 4rem;
}

.faq-conclusion p{
padding-top: 1rem;
}

.faq-contact a{
color:#3325c7
}


/*MAP PAGE**************************************************************************************
****************************************************************************************************************/
.map-page-wrapper{
  padding:2rem;
  padding-top:2rem;
  padding-bottom:15rem;
  margin:0 auto;
  text-align:center;
}

#map { 
  height: 90%; 
  max-width:100%;
  border-radius:1.5rem;
  margin:0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.map-page-title {
  padding-bottom:0.5rem;
}
.map-page-intro {
  padding-bottom:1rem;
  font-size:1rem;
}


.breed-popup-img{
  width: 100%;         
  max-width: 95rem;     
  height: 100%;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto 0.5rem auto; 
}


.leaflet-popup-content-wrapper {
  max-width: 20rem;
  width: 20rem;
  border-radius: 1rem;
  margin:0;
  padding:-0.5rem;
}

.breed-popup-name {
  font-size: 0.8rem;   
  margin-bottom: -0.6rem;
}

.breed-popup-location {
  font-size: 0.6rem;  
  margin-bottom: 0rem;
  opacity: 0.8;        
}

.breed-popup-text {
  font-size: 0.5rem;
padding:-1.3rem;
margin-top:-1rem;
  
}

/*RESPONSIVE MAP PAGE TABLET*/
@media (max-width: 1024px){
  #map{
    height: 65vh;
  }

  .breed-popup-img{
    width: 80%;          
    height: 80%;
  }

.leaflet-popup-content-wrapper {
  max-width: 18em;
  width: 18rem;
  border-radius: 1rem;
}
}


/*RESPONSIVE MAP PAGE MOBILE*/
@media (max-width: 768px){
  #map{
    height: 100vw;
    width: 100vh;
   
  }

  .map-section{
    overflow: hidden;
  }
.map-page-title {
  font-size:1.7rem;
}

.map-page-intro {
  font-size:1rem;
}


}



/*Responsiveness Notes:
- Use relative Units such as rem and em for larger elements 
- Pixels and absolute positioning do not adapt to different screen sizes 
- I should use flexbox and percentages for layout
- Use rem for fonts
- avoid absolute positioning as much as possible*/



/***********************************************************************************************************/
/*CSS LEARNING RESOURCES*************************************************************************************

CSS PROPERTIES: https://www.w3docs.com/learn-css.html
CSS POSITIONING: 
https://www.freecodecamp.org/news/learn-the-basics-the-css-position-property/
https://www.youtube.com/watch?v=YEmdHbQBCSQ
https://www.youtube.com/watch?v=i1FeOOhNnwU
BUTTONS & BUTTON STYLING: 
https://www.w3schools.com/tags/tag_button.asp
https://www.w3schools.com/css/css3_buttons.asp
HOVER GROW ANIMATION: https://www.youtube.com/watch?v=ho5cwc9rBYk
MORE HOVER EFFECTS:https://mimo.org/glossary/css/hover
NAVBAR & MAKING LINKS:
https://www.youtube.com/watch?v=PwWHL3RyQgk&t=249s
https://www.youtube.com/watch?v=PwWHL3RyQgk&t=249s
RESPONSVE NAVBAR:
https://www.youtube.com/watch?v=U8smiWQ8Seg
Transitions: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transitions/Using
Transform basics: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transforms/Using
POSITIONING ABOUT US PAGE TUTORIAL:
https://www.youtube.com/watch?v=Rqo_1TV7wQs
------>

/