
/*this is how you write a css comment*/
/*note to self: wrap text windows: alt + z*/
/*note: always add ; after each value*/

/* ROOT 
- I added root as it sets a default px size that will apply to the entire site and rem units */

:root {
    font-size:16px;
}

/* '*'= universal selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CATLAS LOGO
- I learned that this was a shortcut to position an element like my logo top center*/
.logo {
    height: 7rem;
    display: block;
    margin: 0 auto;
    margin-top:-2rem;
    
}

/*NAVIGATION BAR
I followed these tutorials https://www.youtube.com/watch?v=PwWHL3RyQgk&t=249s to create my navbar and https://www.youtube.com/watch?v=U8smiWQ8Seg
Position:sticky; makes the element stuck on the same position in the screen despite scrolling*/

.navbar {
    box-sizing:border-box;
    margin: 0;
    padding: 0.5rem 3.5rem;
    Background-color:d9daff;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    position:sticky;
    z-index:999
    top:0;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
/*Note to self: If time- make the nav bar animate up and hide when scrolling with javascript later*/


/*I changed the logo class here and uploaded a different logo image because the original logo was overriding the homepage logo styling rules*/

.logo-navbar {
    height: 3.5rem;
    width:auto;
    cursor: url("/cursor/bent-paw-cursor.cur"), pointer;
}

.nav-links{
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
    gap:2rem;
}

.nav-link {
    display:block;
    padding: 0.5rem 1.5rem; 
    font-family:"Righteous";
    font-weight: 400;
    font-size:1.2rem;
    color:#292647;
    text-decoration: none;
    transition: 0.3s ease;
    cursor: url("/cursor/bent-paw-cursor.cur"), pointer;
}
.nav-link:hover {
color:#5245e5
}

/*POSITIONING NOTE TO SELF: Microsoft live preview is not an accurate representation of a real browser window, 
use Live Server for accuracy, use shortcut ctrl+0 for 100% default zoom.

TROUBLESHOOTING POSITIONING: I relied on the live preview window on VS Code to see the changes being
made and I used it as a guide with manual positioning and creating flexbox layouts. 
When I opened my browser through live server, everything is zoomed in - even at 100% and the elements
are too large and off center. I will fix this by adjusting sizes and positioning of some elements and use live server as a guide 
to review my changes

note: resize elements to smaller: logo, images, etc*/

/*WELCOME SECTION: Using manual positioning for overlapping items*/

.welcome-box{
    width:100%;
    max-width:60rem;
    margin: 0 auto 2.5rem;
    position: relative;
    margin-top:-2.5rem;
}

.welcome-title{
    margin: 0 auto;
    background-color:#292647;
    display:inline-block;
    padding: 0.5rem 1.2rem;
    border-radius:1.8rem;
    text-align: center;
    position:relative;
    z-index:1;
    margin-bottom:-1.8rem;
}

.welcome-description {
position:relative;
background-color:#dbdcff;
padding: 1rem 1rem;
border-radius:2rem;
width: 100%;
max-width: 60rem;
margin: 0 auto;
margin-top: 1.2rem;
display: block;
text-align: center;
line-height: 1.5rem;
}

/*Here, I changed the background color and added some margins that applies to the entire website*/
/*troubleshooting layout issues for the homepage browser- reduced body padding to fix layout*/
/*the page-wrapper applies to all elements inside my homepage*/

/*NOTE TO SELF: The Rules on 'body' apply to the entire website and there are no '.' before body for styling*/

body {
    background-color: #f9f9ff;
    max-width: 1440px;
    cursor: url('/cursor/paw-cursor.cur'), auto;
    
}

.page-wrapper {
    padding: 2rem;
    margin-top:0.5rem;
}

/*CAT PNGS*/

/*Cat Png Positioning, Use margin-top or margin-bottom to move things around*/
.top-area-cats{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -4.5rem;
    padding: 0rem 3rem;
}

.blackcat-stretch{
    margin-top: -1rem;
}

/*Cat Png Sizing*/
.blackcat-loaf,
.blackcat-stretch {
    width: 6rem;
}

/*FONT-STYLES*/
/*This is how you change a font in css
FONT SIZES & RESPONSIVENESS NOTE: For responsiveness, use rem instead of px for font sizes, 
for large headings and smaller screens use pw*/

h1 {
    font-family:"Righteous";
    font-size: 2rem;
    font-weight:400;
    color:#292647;
}
h2{
    font-family: "Righteous";
    font-size:1.4rem;
    font-weight:400;
    color:d9daff;
}
h3{
    font-family:"Righteous";
    font-size: 1rem;
    font-weight:400;
    color:#292647;
}
p{
    font-family:"oxygen";
    font-size: 0.9rem;
    font-weight:700; 
    color:#292647;
}

/*MENU BUTTONS STYLING SECTION*/
/*note to self: add a different pointer cursor*/

.page-buttons {
    background-color: #292647;
    color:#d9daff;
    border:none;
    cursor:url("/cursor/bent-paw-cursor.cur"), pointer;
    display:inline-block;
    box-sizing:border-box;
    padding:0.5rem 1.9rem;
    border-radius: 1.25rem;
    margin-top: 1rem;
    width: 15rem;
    text-decoration:none;
}
.timeline-description,.faq-description, .map-description {
    margin-top:0.7rem;
}

/*BUTTONS HOVER ANIMATION*/
/*menu scale animations on hover       */

.timeline-box,
.map-box,
.faq-box,
.page-buttons,
.about-button{
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.timeline-box:hover, 
.map-box:hover,
.faq-box:hover,
.about-button:hover{
    transform:scale(1.1,1.1);
}
/*button glow animation*/
.page-buttons:hover,
.about-button:hover{
    box-shadow: 0 0 40px rgba(66, 14, 255, 0.6);
}

/*ABOUT BUTTON STYLING SECTION*/
.about-button {
    background-color:#d9daff;
    color:#292647;
    font-family:"Righteous";
    font-size:1rem;
    font-weight:900;
    border:none;
    cursor: url("/cursor/bent-paw-cursor.cur") ,pointer;
    padding:0.5rem 1.9rem;
    border-radius:1.25rem;
    width:8.5rem;
    text-decoration:none;
}

.about-box {
margin-top: 4rem;
display:flex;
flex-direction:column;
align-items:center;
place-items:center;
text-align:center;
}

/*Deleted and switched contact button to about button*/
.contact-description{
    margin-top:0.4rem;
}

/*HOMEPAGE MENU LAYOUT SECTION*/
.homepage-menu {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    gap:3rem;
    margin-top: 2rem;
}

/*Fixing flexbox alignment to apply evenly to all images that are different sizes*/
/*note to self: the map icon was poorly aligned on the page because it was poorly cropped before uploading the image source, that is why flexbox did not work as well*/
/*the height adjustment on images fixed the issue to line the menu buttons up, and the object-fit contain prevents the images from stretching weirdly*/

.homepage-menu img {
    width:20rem;
    height:10rem;
    display:block;
    margin:0 auto;
    object-fit:contain;
}

/*making each box act as a column*/
.homepage-menu > div{
display:flex;
flex-direction: column;
align-items:center;
text-align:center;
}


/*RESPONSIVENESS
Notes:
- Use relative Units such as rem and em for larger elements 
- Pixels and absolute positioning do not adapt to different screen sizes 
- I should use flexbox and percentages for layout
- Use rem for fonts
- avoid absolute positioning as much as possible*/



/*ABOUT.HTML PAGE STYLING*************************************************/

.about-section {
    padding: 4rem 4rem;

    
}





.mycat-1,
.mycat-2 {
    display:block;
    height:100%;
    width: 100%;
    object-fit:cover;
    width: 18rem;
    height:18rem;
    border-radius:2rem;
}




/*CSS LEARNING RESOURCES*******************************************

CSS PROPERTIES: https://www.w3docs.com/learn-css.html
CSS POSITIONING: 
https://www.freecodecamp.org/news/learn-the-basics-the-css-position-property/
https://www.youtube.com/watch?v=YEmdHbQBCSQ
https://www.youtube.com/watch?v=i1FeOOhNnwU
BUTTONS & BUTTON STYLING: 
https://www.w3schools.com/tags/tag_button.asp
https://www.w3schools.com/css/css3_buttons.asp
HOVER GROW ANIMATION: https://www.youtube.com/watch?v=ho5cwc9rBYk
MORE HOVER EFFECTS:https://mimo.org/glossary/css/hover
NAVBAR & MAKING LINKS:
https://www.youtube.com/watch?v=PwWHL3RyQgk&t=249s
https://www.youtube.com/watch?v=PwWHL3RyQgk&t=249s
RESPONSVE NAVBAR:
https://www.youtube.com/watch?v=U8smiWQ8Seg
Transitions: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transitions/Using
Transform basics: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transforms/Using
------>

/