
/*this is how you write a css comment*/
/*note to self: wrap text windows: alt + z*/
/*note: always add ; after each value*/

/*I learned that this was a shortcut to position an element like my logo top center*/
.logo {
    height: 140px;
    display: block;
    margin: 0 auto;
    margin-top:20px;
    z-index:3;

}

/*WELCOME SECTION: Using manual positioning for overlapping items*/

.welcome-box{
    width:80%;
    max-width:1100px;
    margin: 40px auto;
    margin-top:-5px;
    position: relative;
    transform: translateX(-100px);

}

.welcome-title{
    margin: px auto;
    background-color:#292647;
    display:inline-block;
    padding: 8px 50px;
    border-radius:25px;
    width: 165px;
    text-align: center;
    position:relative;
    z-index:2;
    margin-bottom:-55px;
    font-size:38px
    

}

.welcome-description {
position:relative;
background-color:#d9daff;
padding: 25px 50px;
border-radius:35px;
height:80px;
width: 1200px;
margin-top:40px;
align-items:center;
margin-left:auto;
margin-right:auto;
}


/*Here, I changed the background color and added some margins that applies to the entire website*/

body {
    background-color: #f9f9ff;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

cursor: url('/cursor/paw-cursor.cur'), auto;

}
/*FONT-STYLES*/
/*This is how you change a font in css*/
h1 {
    font-family:"Righteous";
    font-size: 28px;
    font-weight:400;
    color:d9daff;
}
h2{
    font-family: "Righteous";
    font-size:30px;
    font-weight:400;
    color:292647;
}
h3{
    font-family:"Righteous";
    font-size: 22px;
    font-weight:400;
    color:#292647;
}
p{
    font-family:"oxygen";
    font-size: 18px;
    font-weight:700; 
    color:#292647;
    
}

/*MENU BUTTONS STYLING SECTION*/
/*note to self: add a different pointer cursor*/
.page-button {
    background-color: #292647;
    color:#d9daff;
    font-family: "Righteous";
    font-size:28px;
    border:none;
    cursor:pointer;

    display:inline-block;
    box-sizing:border-box;
    padding:8px 50px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom:0px;
    width: 300px;
    text-decoration:none;
}
.timeline-description,.faq-description, .map-description {
    margin-top:15px
}

/*BUTTONS HOVER ANIMATION*/

.page-button,
.contact-button {
    transition: transform 0.25s, ease, box-shadow 0.25s ease;
}

.page-button:hover, 
.contact-button:hover{
    transform:scale(1.1,1.1);
}




/*CONTACT BUTTON STYLING SECTION*/
.contact-button {
    background-color:#d9daff;
    color:#292647;
    font-family:"Righteous";
    font-size:24px;
    font-weight:900;
    border:none;
    cursor:pointer;
    padding:8px 24px;
    border-radius:20px;
    width:280px
}

.contact-box {
margin-top: 80px;
display:flex;
flex-direction:column;
align-items:center;
place-items:center;
text-align:center;
}

.contact-description{
    margin-top:15px;
}

/*HOMEPAGE MENU LAYOUT SECTION*/
.homepage-menu {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-top: 40px;
    gap:60px;
}

/*Fixing flexbox alignment to apply evenly to all images that are different sizes*/
/*note to self: the map icon was poorly aligned on the page because it was poorly cropped before uploading the image source, that is why flexbox did not work as well*/
/*the height adjustment on images fixed the issue to line the menu buttons up, and the object-fit contain prevents the images from stretching weirdly*/

.homepage-menu img {
    width:340px;
    height: 200;
    display:block;
    margin:0 auto 12px;
    object-fit:contain;
}


/*making each box act as a column*/
.homepage-menu > div{
display:flex;
flex-direction: column;
align-items:center;
text-align:center;
}


/*RESPONSIVENESS*/
