
/*this is how you write a css comment*/
/*note to self: wrap text windows: alt + z*/
/*note: always add ; after each value*/

/*I learned that this was a shortcut to position an element like my logo top center*/
.logo {
    height: 110px;
    display: block;
    margin: 0 auto;
}

/*Here, I changed the background color and added some margins that applies to the entire website*/
body {
    background-color: #f9f9ff;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*This is how you change a font in css*/
h1 {
    font-family:"Righteous";
    font-size: 35px;
    color:292647;
}
h2{
    font-family: "Righteous";
    font-size: 28px;
    color:292647;
}
p{
    font-family:"oxygen";
    font-size: 18px;
    font-weight:400; 
    color:#292647;
    
}

/*MENU BUTTONS STYLING SECTION*/
.page-button {
    background-color: #292647;
    color:#d9daff;
    font-family: "Righteous";
    font-size:20px;
    border:none;
    cursor:pointer;
    padding:8px 24px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
}

/*CONTACT BUTTON STYLING SECTION*/
.contact-button {
    background-color:#d9daff;
    color:#292647;
    font-family:"Righteous";
    font-size:20px;
    font-weight:900;
    border:none;
    cursor:pointer;
    padding:8px 24px;
    border-radius:15px;
}

/*HOMEPAGE MENU LAYOUT SECTION*/
.homepage-menu {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-top: 40px;
    gap:40px;
}

.homepage-menu img {
    width:300px;
    max-width:400px;
    height: auto;
    display:block;
    margin:0 auto 12px;
}


